
<p>Create a new note</p>

<%= simple_form_for @note, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.input :title %>
  <%= f.input :text, as: :text %>
  <%= f.button :submit %>
<% end %>
