<h1>Notes 4 U</h1>
<p>The website that lets you create notes and edit them.</p>

<p><%= link_to "Create a note", new_note_path %></p>

<p><%= link_to "All notes", notes_path %></p>

<%if user_signed_in?%>
  <%=render "notes/note_links"%>
<%end%>
