/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
//= require_self
//= require bootstrap
//= require_tree .

.note {
    border: solid 1px gray;
    padding: 0 0.5em;
    margin: 1em 0;
    h3 {
	margin: 0;
	padding: 0;
    }
    .note-text {
	border: solid 1px blue;
	background-color: #f4f4ff;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
	display: inline-block;
    }
}

.user-id {
    font-weight: bold;
}

.logged-in {
    margin: 0.2em 0.5em;
}

table{
    border-collapse:collapse;
    border:1px solid #0000ff;
    th, td {
	border:1px solid #0000ff;
	padding: 0.1em 0.2em;
    }
}

.new-terms-notice {
   padding: 1em;
   margin: 1em;
   border : 1px solid red;
   background-color: white;
}
